<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Softuni/Homework 3:: Java-Collections-Basics/problems9to12/CalculatesFactorial.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="problems9to12.CalculatesFactorial"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Softuni"/>
</launchConfiguration>
