<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Softuni/Java Advanced/h4_Manual_String_Processing_Exercises/Problem11Palindromes.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="h4_Manual_String_Processing_Exercises.Problem11Palindromes"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Softuni"/>
</launchConfiguration>
